#mainTitle{
    text-align: center;
    font-family: "Arial";
}
#goToLoginButton{
    text-align: center;
    width: 250px;
    height: 100px;
    display: inline-block;
}
#loginButtonP{
    text-align: center;
}
#loginTable{
    border: 2px solid black;
    font-family: "Arial"
}
#navigationTable{
    font-family: "Arial";
    font-size: 23px;
}
body{
    background-color: #D3D3D3;
}